<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754998817633-715koe5jrg97d2oslsv4qj0rkc4pntub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754998817633-715koe5jrg97d2oslsv4qj0rkc4pntub</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ3qW_HzcPzHfY8672MgG6FqdxtkPiQOY</string>
	<key>GCM_SENDER_ID</key>
	<string>754998817633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mshadi.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>mochat-1b6f0</string>
	<key>STORAGE_BUCKET</key>
	<string>mochat-1b6f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754998817633:ios:255f8821ab5a63364b8b20</string>
</dict>
</plist>